@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
        <span class="navbar-text">
            <a href="javascript:document.getElementById('logoutForm').submit()">
                @User.Identity.GetUserName()
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
        
    }
}
else
{
        <span class="navbar-text navbar-right">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </span>
}
