#Main{}

#BookOutline{width:700px;border-right:1px solid #ddd;}

#ItemActions{width:440px;/*border-left:1px solid #ddd;*/padding-left:32px;}

#BookOutline .item:hover{background-color:#eee;cursor:pointer;}
#BookOutline .selectedItem{background-color:#9966ff !important;color:#eee !important;}

#BookOutline .book{}
#BookOutline .book .name{font-size:32px;color:#4800ff;}
#BookOutline .book .version{font-size:14px;}
#BookOutline .book .version span{font-weight:bold;}

#BookOutline .module{font-size:24px;padding-top:24px;}
#BookOutline .module .call{display:table-cell;width:80px;}
#BookOutline .module .description{display:table-cell;width:500px;font-weight:bold;}

#BookOutline .section{font-size:18px;padding-top:12px;}
#BookOutline .section .call{display:table-cell;width:80px;}
#BookOutline .section .description{display:table-cell;width:500px;padding-left:24px;}

#BookOutline .chapter{font-size:14px;padding-top:6px;}
#BookOutline .chapter .call{display:table-cell;width:80px;}
#BookOutline .chapter .description{display:table-cell;width:500px;padding-left:48px;font-weight:bold;}

#BookOutline .page{font-size:14px;}
#BookOutline .page .call{display:table-cell;width:80px;}
#BookOutline .page .description{display:table-cell;width:500px;padding-left:72px;}
#BookOutline .page .description .quiz{background-color:#fbb;padding:0px 4px;color:#fff;border-radius:4px;}
#BookOutline .page .description .survey{background-color:#abf;padding:0px 4px;color:#fff;border-radius:4px;}

#BookOutline #MoveSelectInputs{display:none;}


#ItemActions .actions-header{font-size:18px;margin-bottom:48px;color:#4800ff;}
#ItemActions .actions-set{display:none;}

#ItemActions #DefaultActions{display:block;padding-top:100px;font-size:18px;}
#ItemActions #DefaultActions i{position:relative;top:5px;color:#ccc;padding-right:10px;}

#ItemActions .input-item{margin-top:40px;}
#ItemActions .input-item .input-label{}
#ItemActions .input-item .input-value input{width:400px;font-size:18px;font-weight:bold;}
#ItemActions .input-item .input-action{text-align:right;padding-right:8px;}

#ItemActions .add-item{margin-top:40px;}

#ItemActions .remove-item{margin-top:40px;}

#ItemActions .reorder-item{margin-top:40px;}

#ItemActions .move-item{margin-top:40px;}
#ItemActions .move-item .move-input select{width:400px;}
#ItemActions .move-item .move-action{text-align:right;padding-right:8px;}

#ItemActions .preview-item{margin-top:40px;}

#ItemActions .edit-item{margin-top:40px;}