/* --------------------------------------------------- */
/* ------- MAIN PAGE STRUCTURE (TWO COLUMNS) --------- */
/* --------------------------------------------------- */
#Main{}

#BookOutline{width:700px;border-right:1px solid #ddd;position:relative;}

#ItemActions{width:440px;padding-left:32px;position:relative;}

#Main .loading-fade{opacity: 0.2;}
#Main #Loading{display:none;position:absolute;top:100px;left:-500px;padding:24px;border:2px solid #999;background-color:#ddd;border-radius:3px;font-weight:bold;font-size:18px;width:300px;text-align:center;}

/* --------------------------------------------------- */
/* PAGE FILTERS (this is rudimentry, since this consists only of a single checkbox atthis time)  */
/* --------------------------------------------------- */

#QueryInputs{position:absolute;top:-4px;right:90px;font-size:12px;}
#QueryInputs input{margin-left:2px;position:relative;top:2px;}

/* --------------------------------------------------- */
/* The LEFT column, which displays the BOOK OUTLINE  */
/* --------------------------------------------------- */

#BookOutline .item:hover{background-color:#eee;color:#000;cursor:pointer;}
#BookOutline .selectedItem{background-color:#000 !important;color:#eee !important;}

#BookOutline .book{}
#BookOutline .book .name{font-size:32px;color:#999;line-height:34px;}
#BookOutline .book .version{font-size:14px;}
#BookOutline .book .version span{font-weight:bold;}

#BookOutline .module{font-size:24px;margin-top:12px;padding-top:12px;}
#BookOutline .module .call{display:table-cell;width:36px;border-radius:6px;text-align:center;font-weight:bold;}
#BookOutline .module .description{display:table-cell;width:560px;padding-left:44px;font-weight:bold;line-height:26px;}

#BookOutline .section{font-size:18px;padding-top:12px;}
#BookOutline .section .call{display:table-cell;width:80px;padding-left:4px;}
#BookOutline .section .description{display:table-cell;width:500px;padding-left:24px;line-height:19px;}

#BookOutline .chapter{font-size:14px;padding-top:6px;}
#BookOutline .chapter .call{display:table-cell;width:80px;padding-left:4px;}
#BookOutline .chapter .description{display:table-cell;width:560px;padding-left:48px;font-weight:bold;line-height:14px;}

#BookOutline .page{font-size:14px;}
#BookOutline .page .call{display:table-cell;width:80px;padding-left:4px;}
#BookOutline .page .description{display:table-cell;width:560px;padding-left:72px;line-height:13px;}
#BookOutline .page .description .quiz{background-color:#fbb;padding:0px 4px;color:#fff;border-radius:4px;}
#BookOutline .page .description .survey{background-color:#abf;padding:0px 4px;color:#fff;border-radius:4px;}
#BookOutline .page .description .content{font-size:11px;font-weight:300;padding-top:1px;padding-bottom:2px;overflow: hidden;max-height:24px;line-height:11px;}

#BookOutline #MoveSelectInputs{display:none;}

/* --------------------------------------------------- */
/* The RIGHT column, which displays the various controls for modifying a selected item in the book outline  */
/* --------------------------------------------------- */

#ItemActions .actions-header{font-size:18px;color:#999;}
#ItemActions .actions-set{display:none;}

#ItemActions #DefaultActions{display:block;font-size:18px;color:#F00;}
#ItemActions #DefaultActions i{position:relative;top:5px;color:#ccc;padding-right:10px;}

#ItemActions .actions-set .form-group{overflow:hidden;}
#ItemActions .actions-set .name-group{margin-top:30px;}
#ItemActions .actions-set .reorder-group{margin-top:20px;}
#ItemActions .actions-set .remove-group{margin-top:36px;}
#ItemActions .actions-set .view-group{margin-top:50px;}

#ItemActions .actions-set label{margin-bottom:0px;margin-top:6px;}
#ItemActions .actions-set .name-input{font-size:20px;}
#ItemActions .actions-set .name-update,.move-button{margin-top:4px;float:right;}
#ItemActions .actions-set .remove-group{margin-left:60px;margin-right:60px;}
#ItemActions .actions-set .remove-note{font-size:11px;text-align:center;}
#ItemActions .actions-set .btn-block{text-align:left;}
#ItemActions .actions-set .btn-block i{width:40px;}


/*#ItemActions .input-item{margin-top:40px;}
#ItemActions .input-item .input-label{}
#ItemActions .input-item .input-value input{width:400px;font-size:18px;font-weight:bold;}
#ItemActions .input-item .input-action{text-align:right;padding-right:8px;}

#ItemActions .add-item{margin-top:40px;}

#ItemActions .remove-item{margin-top:40px;}
#ItemActions .remove-note{font-size:11px;}

#ItemActions .reorder-item{margin-top:40px;}

#ItemActions .move-item{margin-top:40px;}
#ItemActions .move-item .move-input select{width:400px;}
#ItemActions .move-item .move-action{text-align:right;padding-right:8px;}

#ItemActions .preview-item{margin-top:40px;}

#ItemActions .edit-item{margin-top:40px;}

#ItemActions .theme-item{margin-top:40px;}*/

/* --------------------------------------------------- */
/* ------- MODAL POPUP: Select a THEME --------------- */
/* --------------------------------------------------- */
#ThemeSelector{z-index:3;display:none;}
#ThemeSelector .overlay {position:fixed;top:0;left:0;background-color:black;opacity:0.7;width:100%;height:100%;}
#ThemeSelector .themeSelector {position:fixed;top:50%;left:50%;width:800px;height:500px;background-color:silver;overflow:auto;margin-top:-250px;margin-left:-400px;padding:20px;border:3px solid black;}
#ThemeSelector .themeSelector img {width:100%;}
#ThemeSelector .themeSelector .themeBlock {background-color:white;cursor:pointer;display:table;padding:20px;margin-bottom:10px;border:2px solid black;border-radius:5px;}
#ThemeSelector .themeSelector .themeBlock:hover{background-color:#ebebeb;}
#ThemeSelector .themeSelector .themeBlock.selected {background-color:#000;}

/* --------------------------------------------------- */
/* ------- colors for the 9 different themes: -------- */
/* --------------------------------------------------- */
#BookOutline .module .theme_1 {color:#efc94c;background-color: #f7e5a8;}
#BookOutline .module .theme_2 {color:#505967;background-color: #a8acb2;}
#BookOutline .module .theme_3 {color:#2c6192;background-color: #96b0c9;}
#BookOutline .module .theme_4 {color:#444872;background-color: #a2a4b9;}
#BookOutline .module .theme_5 {color:#45b29d;background-color: #a2d9c3;}
#BookOutline .module .theme_6 {color:#e58800;background-color: #f2c58d;}
#BookOutline .module .theme_7 {color:#85496f;background-color: #c3a3b6;}
#BookOutline .module .theme_8 {color:#df5a49;background-color: #f2c58d;}
#BookOutline .module .theme_9 {color:#4e69ac;background-color: #a6b4d6;}
