.content-window {
    padding: 30px 50px;
    margin-top: 135px;
    height: 638px;
    position: relative;
    font-size: 12pt;
    line-height:22px;
}

    .content-window .item {
        position: absolute;
        white-space:pre-wrap;
    }

    .content-window .inner-text {
        /*position:relative;*/
    }

    .content-window .survey-question{
        font-weight:bold;font-size:14pt;
    }

    .content-window .header {
        font-size: 22pt;
        font-weight: 600;
        line-height: 22pt;
    }

    .content-window label{
        font-weight:400;
    }

    .content-window .sub-header {
        font-weight: 500;
        font-size: 14pt;
    }



    .content-window .notes {
        font-family: 'Fira Sans Condensed';
        font-size: 11pt;
        background-color: #ffe0b3;
        padding: 10px;
        border: 5px solid #ffcc80;
        line-height: 17pt;
    }



    .content-window .tips {
        font-family: 'Fira Sans Condensed';
        font-size: 11pt;
        background-color: #cce5ff;
        padding: 10px;
        border: 5px solid #99caff;
        line-height:17pt;
    }



    .content-window .caption {
        font-family: 'Fira Sans';
        font-size: 10pt;
        color:#4d4d4d;
    }



    .content-window .PicBoard {
        border: 2px solid black;
    }

    .content-window button {
        outline: none;
        cursor: pointer;
        padding: 10px 30px;
        color: white;
        background-color: black;
        border: 4px outset gray;
        border-radius: 10px;
        font-family:Fira Mono;
        font-size:12pt;
    }

        .content-window button:active {
            border: 4px inset black;
            color: black;
            background-color: gray;
        }
        .content-window .active {
            border: 4px inset black;
            color: black;
            background-color: gray;
        }

    .content-window textarea {
        font-family: Fira Mono;
        font-size:12pt;
        width:500px;
        height:75px;
        border:1px solid black;
        margin-top:10px;
    }

    .content-window .post-quiz {
        border:4px solid black;
        padding:20px;
    }

        /*.content-window .post-quiz.correct {
            border-color:green;
        }

        .content-window .post-quiz.incorrect {
            border-color:red;
        }*/

    .content-window .multiButton {
        width:300px !important;
        padding:2px;
    }

    .content-window .multiButton2 {
        border: 1px solid gray;
        background: lightgray !important;
        color: purple;
        padding: 5px;
        font-size: 8pt;
        font-weight: bold;
        width:185px;
    }

    .content-window .multiButton2.active2{
        background:gray !important;
    }

    .content-window img {
        cursor:pointer;
    }

    .content-window .dialog {
        display:none;
    }



    #full-modal{
        display:none;
        position:absolute;
        top:100px;
        left:100px;
        width:1320px;
        height:620px;
        background:white;
        border: 2px outset black;
        border-radius:5px;
        padding:20px;
    }
    #full-modal-content{
        width:90%;
        height:90%;
        background-size:contain;
        background-repeat:no-repeat;
    }
    #full-modal-close{
        text-align:right;
        font-size:20pt;
        cursor:pointer;
        margin-top:-5px;
    }