.content-window {
    padding: 30px 50px;
    margin-top: 135px;
    height: 638px;
    position: relative;
    font-size: 12pt;
    line-height:22px;
}

    .content-window .item {
        position: absolute;
        white-space:pre-wrap;
    }

    .content-window .inner-text {
        /*position:relative;*/
    }

    .content-window .header {
        font-size: 22pt;
        font-weight: bold;
        line-height:24pt;
    }

    .content-window .sub-header {
        font-weight:400;
        font-size:14pt;
    }

    .content-window .rlinks {
        font-family: Fira Mono;
        font-size: 10pt;
        background-color: #e0e0eb;
        padding: 2px;
        color: gray;
        border: 1px solid lightgray;
    }

    .content-window .notes {
        font-family: Fira Mono;
        font-size: 10pt;
        background-color: #ffe0cc;
        padding: 10px
    }

    .content-window button {
        outline: none;
        cursor: pointer;
        padding: 10px 30px;
        color: white;
        background-color: black;
        border: 4px outset gray;
        border-radius: 10px;
        font-family:Fira Mono;
        font-size:12pt;
    }

        .content-window button:active {
            border: 4px inset black;
            color: black;
            background-color: gray;
        }
        .content-window button.active {
            border: 4px inset black;
            color: black;
            background-color: gray;
        }

    .content-window textarea {
        font-family: Fira Mono;
        font-size:12pt;
        width:500px;
        height:75px;
        border:1px solid black;
        margin-top:10px;
    }

    .content-window .post-quiz {
        border:4px solid black;
        padding:20px;
    }

        .content-window .post-quiz.correct {
            border-color:green;
        }

        .content-window .post-quiz.incorrect {
            border-color:red;
        }

    .content-window .multiButton {
        width:300px !important;
        padding:2px;
    }

    .content-window .multiButton2 {
        border: 1px solid gray;
        background: lightgray !important;
        color: purple;
        padding: 5px;
        font-size: 8pt;
        font-weight: bold;
        width:185px;
    }

    .content-window .multiButton2.active2{
        background:gray !important;
    }

    .content-window img {
        cursor:pointer;
    }

    .content-window .dialog {
        display:none;
    }



    #full-modal{
        display:none;
        position:absolute;
        top:20px;
        left:20px;
        width:1520px;
        height:820px;
        background:white;
        border: 2px outset black;
        border-radius:5px;
        padding:20px;
    }
    #full-modal-content{
        width:95%;
        height:95%;
        background-size:contain;
        background-repeat:no-repeat;
    }
    #full-modal-close{
        text-align:right;
        font-size:20pt;
        cursor:pointer;
        margin-top:-5px;
    }