@model Amos.Controllers.Configuration.PageInitModel
@{
    // ========= force page to perform fresh load each visit:
    Response.Cache.SetCacheability(HttpCacheability.NoCache); 
    Response.Cache.SetNoStore();
    // =========

    ViewBag.Title = "Configure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/css/Configure.css?v=5">
}

    <div id="Main">
        @*==================================
            LEFT COLUMN:  book outline
        ====================================*@
        <div id="BookOutline">
            <div id="QueryInputs">
                <div>show leading page text <input type="checkbox" id="ShowPageContent" /></div>
            </div>
            <div id="BookOutlineView">
                @*================================== Inserted here: VIEW file "BookOutline.cshtml". This is refreshed everytime a user makes a change to the book outline ====================================*@
                @{Html.RenderAction("BookOutline", new { PageQueryModel = Model.PageQueryModel });}
            </div>
        </div>
        @*==================================
            RIGHT COLUMN: various input sets that are displayed, depending on the type of object selected.
        ====================================*@
        <div id="ItemActions">
            <div id="Loading">Updating...</div>
            <div id="DefaultActions" class="actions-set">
                <i class="fa fa-arrow-left fa-2x"></i>
                Select an item to make modifications.
            </div>
            @*================================== modify BOOK: =====================================*@
            <div id="BookActions" class="actions-set" data-type="book">
                <div class="actions-header">modify selected <b>book</b>:</div>
                <div class="input-item">
                    <div class="input-label">book title:</div>
                    <div class="input-value"><input class="name-input" type="text" /></div>
                    <div class="input-action"><a class="name-update" href="#">update</a></div>
                </div>
                <div class="input-item">
                    <div class="input-label">book version:</div>
                    <div class="input-value"><input class="version-input" type="text" /></div>
                    <div class="input-action"><a class="version-update" href="#">update</a></div>
                </div>
                <div class="add-item">
                    <a class="add-button" href="#">add a new module to this book</a>
                </div>
            </div>
            @*================================== modify MODULE: =====================================*@
            <div id="ModuleActions" class="actions-set" data-type="module">
                <div class="actions-header">modify selected <b>module</b>:</div>
                <div class="input-item">
                    <div class="input-label">module title:</div>
                    <div class="input-value"><input class="name-input" type="text" /></div>
                    <div class="input-action"><a class="name-update" href="#">update</a></div>
                </div>
                <div class="add-item">
                    <a class="add-button" href="#">add a new section to this module</a>
                </div>
                <div class="remove-item">
                    <div class="remove-action"><a class="remove-button" href="#">remove this module</a></div>
                    <div class="remove-note">after removal, any pages within will still be available for re-use</div>
                </div>
                <div class="reorder-item">
                    <div class="reorder-label">reorder modules:</div>
                    <div class="reorder-action"><a class="reorder-button" data-action="up" href="#">move this module up</a></div>
                    <div class="reorder-action"><a class="reorder-button" data-action="down" href="#">move this module down</a></div>
                </div>
                <div class="theme-item">
                    <a class="theme-button" href="#">change the color theme of this module</a>
                </div>
            </div>
            @*================================== modify SECTION: =====================================*@
            <div id="SectionActions" class="actions-set" data-type="section">
                <div class="actions-header">modify selected <b>section</b>:</div>
                <div class="input-item">
                    <div class="input-label">section title:</div>
                    <div class="input-value"><input class="name-input" type="text" /></div>
                    <div class="input-action"><a class="name-update" href="#">update</a></div>
                </div>
                <div class="add-item">
                    <a class="add-button" href="#">add a new chapter to this section</a>
                </div>
                <div class="remove-item">
                    <div class="remove-action"><a class="remove-button" href="#">remove this section</a></div>
                    <div class="remove-note">after removal, any pages within will still be available for re-use</div>
                </div>
                <div class="reorder-item">
                    <div class="reorder-label">reorder sections:</div>
                    <div class="reorder-action"><a class="reorder-button" data-action="up" href="#">move this section up</a></div>
                    <div class="reorder-action"><a class="reorder-button" data-action="down" href="#">move this section down</a></div>
                </div>
                <div class="move-item">
                    <div class="move-label">move section to module:</div>
                    <div class="move-input"><select></select></div>
                    <div class="move-action"><a class="move-button" href="#">update</a></div>
                </div>
            </div>
            @*================================== modify CHAPTER: =====================================*@
            <div id="ChapterActions" class="actions-set" data-type="chapter">
                <div class="actions-header">modify selected <b>chapter</b>:</div>
                <div class="input-item">
                    <div class="input-label">chapter title:</div>
                    <div class="input-value"><input class="name-input" type="text" /></div>
                    <div class="input-action"><a class="name-update" href="#">update</a></div>
                </div>
                <div class="add-item">
                    <a class="add-button" href="#">add a new page to this chapter</a>
                </div>
                <div class="remove-item">
                    <div class="remove-action"><a class="remove-button" href="#">remove this chapter</a></div>
                    <div class="remove-note">after removal, any pages within will still be available for re-use</div>
                </div>
                <div class="reorder-item">
                    <div class="reorder-label">reorder chapters:</div>
                    <div class="reorder-action"><a class="reorder-button" data-action="up" href="#">move this chapter up</a></div>
                    <div class="reorder-action"><a class="reorder-button" data-action="down" href="#">move this chapter down</a></div>
                </div>
                <div class="move-item">
                    <div class="move-label">move chapter to section:</div>
                    <div class="move-input"><select></select></div>
                    <div class="move-action"><a class="move-button" href="#">update</a></div>
                </div>
            </div>
            @*================================== modify PAGE: =====================================*@
            <div id="PageActions" class="actions-set" data-type="page">
                <div class="actions-header">modify selected <b>page</b>:</div>
                <div class="input-item">
                    <div class="input-label">page title:</div>
                    <div class="input-value"><input class="name-input" type="text" /></div>
                    <div class="input-action"><a class="name-update" href="#">update</a></div>
                </div>
                <div class="remove-item">
                    <div class="remove-action"><a class="remove-button" href="#">remove this page</a></div>
                    <div class="remove-note">after removal, the page will still be available for re-use</div>
                </div>
                <div class="reorder-item">
                    <div class="reorder-label">reorder pages:</div>
                    <div class="reorder-action"><a class="reorder-button" data-action="up" href="#">move this page up</a></div>
                    <div class="reorder-action"><a class="reorder-button" data-action="down" href="#">move this page down</a></div>
                </div>
                <div class="move-item">
                    <div class="move-label">move page to chapter:</div>
                    <div class="move-input"><select></select></div>
                    <div class="move-action"><a class="move-button" href="#">update</a></div>
                </div>
                <div class="preview-item">
                    <a id="PreviewButton" href="#">preview page</a>
                </div>
                <div class="edit-item">
                    <a id="EditButton" href="#">edit page</a>
                </div>

            </div>
            @*================================================================================*@
        </div>

    </div>

@*==================================
    SELECT A THEME modal popup:
====================================*@

<div id="ThemeSelector">
    <div class="overlay"></div>
    <div class="themeSelector">
        <div class="themeBlock" data-id="1">
            <img class="themeImg" src="~/Content/images/themes/1.png" />
        </div>
        <div class="themeBlock" data-id="2">
            <img class="themeImg" src="~/Content/images/themes/2.png" />
        </div>
        <div class="themeBlock" data-id="3">
            <img class="themeImg" src="~/Content/images/themes/3.png" />
        </div>
        <div class="themeBlock" data-id="4">
            <img class="themeImg" src="~/Content/images/themes/4.png" />
        </div>
        <div class="themeBlock" data-id="5">
            <img class="themeImg" src="~/Content/images/themes/5.png" />
        </div>
        <div class="themeBlock" data-id="6">
            <img class="themeImg" src="~/Content/images/themes/6.png" />
        </div>
        <div class="themeBlock" data-id="7">
            <img class="themeImg" src="~/Content/images/themes/7.png" />
        </div>
        <div class="themeBlock" data-id="8">
            <img class="themeImg" src="~/Content/images/themes/8.png" />
        </div>
        <div class="themeBlock" data-id="9">
            <img class="themeImg" src="~/Content/images/themes/9.png" />
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var actionTransmitUrl='@Url.Action("action",new{id=0})';
        var pageQueryModel = @Html.Raw(Json.Encode(Model.PageQueryModel));
        var viewPageUrl = '@Url.Action("ViewEditor", "Build", new { id = 0 })';
        var editPageUrl = '@Url.Action("ViewPage", "Build", new { id = 0 })';
    </script>
    <script type="text/javascript" src="~/Content/js/Configure.js?v=5"></script>
}
