body {
    /*display: table;
    margin: 0 auto;*/
    background-color: white;
    overflow: auto;
    font-family: Fira Sans;
}

input {
    font-family: Fira Sans;
}


.module, .section, .chapter, .page {
    margin-bottom: 5px;
    padding-top:10px;
}


.action-bar {position:fixed;top:50px;display:table;margin:0 auto;background-color:gray;width:800px;z-index:100;}
    .action-bar .block {float:left;width:33%;text-align:center;padding:10px;color:white;font-weight:bold;font-family:'Fira Mono'}
        .action-bar .block .saved {background-color:green; padding:5px 10px;border-radius:5px;}
        .action-bar .block .valid {background-color:green; padding:5px 10px;border-radius:5px;}
        .action-bar .block .not-saved {background-color:red; padding:5px 10px;border-radius:5px;}
        .action-bar .block .in-valid {background-color:red; padding:5px 10px;border-radius:5px;}
        .action-bar .block .bookValid {cursor:pointer;}

        .error-list {
            z-index:101;
            position: fixed;
            top: 85px;
            width: 800px;
            display: none;
            margin: 0 auto;
        }

.error-list .errors {z-index:102;display:table;margin:0 auto;background-color:white;padding:20px;border:2px solid black;width:325px;}
.scrollTo {float:right;}

.sortControls {margin-top:-14px;padding-right:0}
.sortControls .fa {font-size:20pt;display:block;cursor:pointer;}
.sortControls .fa {display:block;cursor:pointer;}
.sortControls .fa-sort-down {}

.plus-dropdown {padding:3px 5px;}

.fa-level-up{color:aliceblue}

.disabled {color:gray;opacity:0.2;cursor:not-allowed !important;}


.overlay {z-index:3;display:none;position:fixed;top:0;left:0;background-color:gray;opacity:0.7;width:100%;height:100%;}



.themeSelector {z-index:3;display:none;position:fixed;top:50%;left:50%;width:800px;height:500px;background-color:silver;overflow:auto;margin-top:-250px;margin-left:-400px;padding:20px;border:20px solid white}
.themeSelector img {width:100%;}
.themeSelector .themeBlock {background-color:white;cursor:pointer;display:table;padding:20px;margin-bottom:10px;border:2px solid black;border-radius:5px;}
.themeSelector .themeBlock:hover{background-color:#ebebeb;}
.themeSelector .themeBlock.selected {background-color:#96b0c9}

.pageSelector {z-index:4;display:none;position:fixed;top:50%;left:50%;width:1138px;height:445px;padding:10px;margin-top:-335px;margin-left:-565px;background-color:white;border:4px outset #96b0c9;}
    .pageSelector .topbar {margin-bottom:5px;}
    .pageSelector .topbar .infoPages {float:left;width:310px;font-weight:bold;text-decoration:underline;}
    .pageSelector .topbar .infoPreview {float:left; width:800px;font-weight:bold;text-decoration:underline;}    

    .topbar, .middlebar, .bottombar {display:block;overflow:auto;}

    .pageSelector .middlebar .pageList {float:left;width:300px;height:320px;margin-right:10px;border:1px solid black;overflow-y:scroll;}
.pageSelector .middlebar .pagePreview {
    float: left;
    width:800px;
    transform: scale(0.5);
    transform-origin: top left;
}

    .pageSelector .middlebar .pageList .unusedPage {display:block;padding:5px;border-bottom:1px solid black;cursor:pointer;}
    .pageSelector .middlebar .pageList .unusedPage:hover{background-color:#ebebeb;}
        .pageSelector .middlebar .pageList .unusedPage .name {font-weight:bold;}
        .pageSelector .middlebar .pageList .unusedPage .user {font-style:italic;font-size:6pt;}

#importPage {position:absolute;bottom:10px;right:10px;}
#closeImport {position:absolute;bottom:10px; left: 10px;}

.selected {
    background-color: #96b0c9;
}


.alert{margin-bottom:0;}





.mod-theme {
    color: white;
}



.module.theme_1 .mod-theme {
    background-color: #efc94c;
}

.module.theme_1 .itemTitle {
    background-color: #f7e5a8;
}

.module.theme_2 .mod-theme {
    background-color: #505967;
}

.module.theme_2 .itemTitle {
    background-color: #a8acb2;
}

.module.theme_3 .mod-theme {
    background-color: #2c6192;
}

.module.theme_3 .itemTitle {
    background-color: #96b0c9;
}

.module.theme_4 .mod-theme {
    background-color: #444872;
}

.module.theme_4 .itemTitle {
    background-color: #a2a4b9;
}

.module.theme_5 .mod-theme {
    background-color: #45b29d;
}

.module.theme_5 .itemTitle {
    background-color: #a2d9c3;
}

.module.theme_6 .mod-theme {
    background-color: #e58800;
}

.module.theme_6 .itemTitle {
    background-color: #f2c58d;
}

.module.theme_7 .mod-theme {
    background-color: #85496f;
}

.module.theme_7 .itemTitle {
    background-color: #c3a3b6;
}

.module.theme_8 .mod-theme {
    background-color: #df5a49;
}

.module.theme_8 .itemTitle {
    background-color: #f2c58d;
}

.module.theme_9 .mod-theme {
    background-color: #4e69ac;
}

.module.theme_9 .itemTitle {
    background-color: #a6b4d6;
}